<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-navigation></app-navigation>
    <div class="carousel-container">
      <app-carousel [images]="carouselImages1"></app-carousel>
      <app-carousel [images]="carouselImages2"></app-carousel>
    </div>
    <app-card-container></app-card-container>
    <app-logo-carousel></app-logo-carousel>
    <app-footer></app-footer>
  </body>
</html>
